h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    text-align: center;
}

/* .inputValue{position:absolute;left:-99999px} */

/*
input[type=text] {
    padding: 0.5em;
}
  
/* .jsValue, .jqValue {
    color: red;
} */